<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of dataProducto">
            <td>{{ item.id }}</td>
            <td>
                <a href="detalles/{{item.id}}">
                    {{item.nombre}}
                </a>
            </td>
            <td>{{item.precio}}</td>
        </tr>

    </tbody>
</table>

{{ dataProducto | json}}